<% var label_value = typeof label !== 'undefined' ? label : 'Loading...' %>

<div class="zui-dialog-body">
    <div class="zui-dialog-panel">
        <div class="loading-content">
            <i class="fa fa-cog fa-spin"></i>        
            <span class="buttons">&nbsp;<%= label_value %></span>
        </div>
    </div>
</div>